# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Github_CPP/FileContentIndex/5578df89-b67a-4d77-8f94-ccb9667f4b4f.vsidx
/d.cpp
/.vs/Github_CPP/FileContentIndex/a176afb3-8385-480f-b54f-4b09ee3e7e82.vsidx
/.vs/Github_CPP/v17/Browse.VC.opendb
/.vs/Github_CPP/v17/Browse.VC.db
/.vs/Github_CPP/v17/Browse.VC.db-shm
/.vs/Github_CPP/v17/Browse.VC.db-wal
